* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    color: white;
    text-decoration: none;
}

.first-section {
    background-color: #1f2937;
    padding: 80px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.signup-btn {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.image-placeholder {
    background-color: #6D747D;
    width: 500px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    padding: 50px 15%;
    text-align: center;
}

.second-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info-box {
    width: 160px;
}

.box-image {
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.info-box p {
    color: #4B5563;
}

.third-section {
    background-color: #E5E7EB;
    padding: 100px 25%;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
}

.fourth-section {
    padding: 80px 15%;
}

.cta-box {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    margin-bottom: 5px;
}

.cta-box .signup-btn {
    border: 2px solid white;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: auto;
}